---
import Card from "./components/Card.astro"
import "./styles/general.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Test</title>
	</head>
	<body>
		<header>
		<h1>Astro Test</h1>
		<p>Welcome to your Astro test!</p>
		</header>
		<section>
		<h2>Getting Started</h2>
		<p>Follow the instructions in the console to get started.</p>
		</section>
		<section>
			<h2>Card section</h2>
			<p>This is a simple card section.</p>
			<div class="grid">
			<Card img="/imgs/DmaK9jdXoAc843u.jpg" headline="Card Title" text="This is a simple card."/>
			</div>
			
		</section>
	</body>
</html>
