* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
body {
  font-family: sans-serif;
}
header,
section {
  padding: 2rem;
}
header {
  background-image: url("imgs/pink.jpg");
  background-size: cover;
  color: white;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
